@use "../constants/colors";
@use "../constants/z-indexes";

.overlay {
  width: 100%;
  height: 100vh;
  z-index: z-indexes.$overlay-level;
  background-color: rgba($color: colors.$primary, $alpha: 0.5);
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}
