@use "../constants/colors";
@use "../mixins/flexbox";
@use "../mixins/text-style";

.gnb-nav {
  $padding: 8px;

  &-list {
    @include flexbox.flexbox(start);
    gap: 24px - ($padding * 2);
    margin-left: -#{$padding};
  }

  &-item {
    &:hover,
    &.is-active {
      a {
        color: colors.$blue;
      }
    }
    a {
      @include text-style.text-style(18, colors.$primary);
      font-weight: 700;
      display: block;
      padding: $padding;
    }
  }
}
