@use "../constants/box-shadows";
@use "../constants/colors";
@use "../mixins/background";
@use "../mixins/flexbox";
@use "../mixins/positions";
@use "../mixins/text-style";

.my-menu {
  $button-size: 32px;
  $tooltip-size: 12px;
  position: relative;

  &-buttons {
    @include background.background('./assets/images/img-user-default.png');
    width: $button-size;
    height: $button-size;
    border: 3px solid colors.$white;
    overflow: hidden;
    border-radius: 50%;
    transition: border 200ms ease-in-out;

    &:hover,
    &.is-active {
      border-color: colors.$blue;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    @include positions.pos-center-x;
    border-radius: 4px;
    top: $button-size + $tooltip-size + 8px;
    box-shadow: box-shadows.$dropdown-shadow;

    &::before,
    &::after {
      @include positions.pos-center-x;
      display: block;
      width: 0;
      height: 0;
      border-top: $tooltip-size solid transparent;
      border-right: 10px solid transparent;
      border-bottom: $tooltip-size solid transparent;
      border-left: 10px solid transparent;
      top: -#{$tooltip-size * 2};
      content: '';
    }

    &::before {
      border-bottom-color: colors.$border;
    }

    &::after {
      top: -#{$tooltip-size * 2 - 2px};
      border-bottom-color: colors.$white;
    }
  }

  &-list {
    padding: 8px;
    border: 1px solid colors.$border;
    width: 200px;
    background-color: colors.$white;
    border-radius: 4px;
  }

  &-item {
    a,
    button {
      @include flexbox.flexbox(start);
      @include text-style.text-style(16, colors.$primary);
      padding: 0 8px;
      width: 100%;
      height: 44px;
      border-radius: 2px;

      &:hover {
        background-color: colors.$background;
      }
    }
  }
}
