@use "../constants/colors";
@use "../mixins/positions";
@use "../mixins/text-style";

%form-base {
  @include text-style.text-style(14, colors.$primary);
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  background-color: colors.$white;
  border: 1px solid colors.$border;
  border-radius: 4px;
  appearance: none;
  transition: background-color 200ms ease-in-out;

  &::placeholder {
    color: colors.$tertiary;
  }

  &:not(:disabled):hover {
    background-color: colors.$background;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

// Note : Select
.form-select,
.form-input {
  @extend %form-base;
}

.select-group {
  position: relative;

  &.is-active {
    .form-select {
      border-color: colors.$blue;
    }

    .ic-caret {
      color: colors.$blue;
    }
  }

  .form-select {
    padding-right: 40px;
    text-overflow: ellipsis;
  }

  .ic-caret {
    font-size: 24px;
    color: colors.$tertiary;
    @include positions.pos-center-y;
    right: 8px;
    pointer-events: none; // 안눌려지게 (이벤트 없애기
  }
}

// Note : input group
.input-group {
  position: relative;

  .form-input {
    padding-left: 40px;
  }

  .ic-search {
    @include positions.pos-center-y;
    left: 10px;
    font-size: 20px;
    color: colors.$secondary;
  }
}
