@use "../constants/colors";
@use "../mixins/flexbox";
@use "../mixins/text-style";

// 공통 스타일 정의
%tag-base {
  @include flexbox.inline-flexbox;
  @include text-style.text-style(12);
  height: 20px;
  padding: 0 6px;
  border-radius: 4px;
  font-weight: 700;
}

.tag-red {
  @extend %tag-base;
  color: colors.$white;
  background-color: colors.$red;
}

.tag-green {
  @extend %tag-base;
  color: colors.$white;
  background-color: colors.$green;
}

.tag-gray {
  @extend %tag-base;
  color: colors.$secondary;
  background-color: colors.$border;
}
